body {
    background-color:goldenrod;
}
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:sienna;
    font-size:45px;
    border: 5px double black;
    padding:15px 30px;
    margin:30px;
}
li {
    font-size: 30px;
    font-weight: bold;
}
p {
    font-size: 20px;
}